node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# local env files
.env.local
.env.*.local

# components.d.ts is updated so often, often even with removals and additions of the same components, it's not worth keeping in git with just a single developer
components.d.ts

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/cypress/videos/
/cypress/screenshots/

# VS Code directory/files
.vscode/*
# Exclude useful VSCode directory files
!.vscode/extensions.json
!.vscode/tailwind.json
!.vscode/i18n-ally-reviews.yml
!.vscode/settings.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo