@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		/* hopefully fixes/disables ios double-tap zooming */
		@apply touch-manipulation;
	}
	button {
		@apply outline-none select-none;		
	}
	input[type="checkbox"] {
		@apply border-gray-300 border-2 text-teal-500 rounded-sm ring-teal-500 focus:ring-teal-500 active:ring-teal-500 transition-shadow;
	}
	input[type="radio"] {
		@apply border-gray-300 border-2 text-teal-500 ring-teal-500 focus:ring-teal-500 active:ring-teal-500 transition-shadow;
	}
	input[type="checkbox"], input[type="radio"] {
		/* @apply focus:outline-none focus:ring-0 focus:ring-transparent focus:shadow-none focus:border-none focus:outline-offset-0 focus:ring-offset-0; */
		@apply focus:ring-offset-transparent focus:ring-1 focus:ring-opacity-50 focus:border-teal-500;
		/* @apply dark:focus:outline-red-800 focus:dark:border-green-900 dark:ring-offset-0; */
		@apply dark:bg-transparent dark:border-white dark:checked:bg-teal-500 dark:checked:border-teal-500;
	}

	select {
		@apply rounded dark:bg-slate-700 dark:border-slate-600 dark:text-gray-100 focus:border-teal-500 focus:ring-teal-500 focus:ring-2;
	}
	select:is(.dark *) {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='white' stroke-opacity='0.8' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	}

	input[type="range"] {
		@apply appearance-none w-full p-0 bg-transparent focus:outline-none focus:ring-0 focus:shadow-none disabled:opacity-60;
	}
	
	input[type="range"]::-webkit-slider-runnable-track {
		@apply rounded-md h-2 bg-teal-900/20 dark:bg-slate-300/40;
	}
	input[type="range"]::-moz-range-track {
		@apply rounded-md h-2 bg-teal-900/20 dark:bg-slate-300/40;
	}
	input[type="range"]::-webkit-slider-thumb {
		@apply appearance-none -mt-[6px] h-5 w-5 rounded-full border-0 bg-teal-500 shadow shadow-black/10 transition-shadow cursor-pointer touch-none;
	}
	input[type="range"]::-moz-range-thumb {
		@apply appearance-none rounded-full h-5 w-5 border-0 bg-teal-500 shadow shadow-black/10 transition-shadow cursor-pointer touch-none;
	}
	input[type="range"]:focus::-webkit-slider-thumb {
		@apply shadow-black/30 shadow;
	}
	input[type="range"]:focus::-moz-range-thumb {
		@apply shadow-black/30 shadow;
	}
}

@layer components {

}

@layer utilities {
	
}


html, body, #app {
	/* height: 100%; */
	-webkit-tap-highlight-color: transparent;
}

body {
	@apply antialiased;
	@apply font-sans;
	@apply slashed-zero;
	@apply tabular-nums;
}

html {
	color-scheme: light dark;
}
html.light, [data-base-theme="light"] {
	color-scheme: light;
}
html.dark, [data-base-theme="dark"] {
	color-scheme: dark;
}