@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		/* hopefully fixes/disables ios double-tap zooming */
		@apply touch-manipulation;
	}
	button {
		@apply outline-none select-none;		
	}
	input[type="checkbox"] {
		@apply border-gray-300 border-2 text-teal-500 rounded-sm ring-teal-500 focus:ring-teal-500 active:ring-teal-500 transition-shadow;
	}
	input[type="radio"] {
		@apply border-gray-300 border-2 text-teal-500 ring-teal-500 focus:ring-teal-500 active:ring-teal-500 transition-shadow;
	}
	input[type="checkbox"], input[type="radio"] {
		/* @apply focus:outline-none focus:ring-0 focus:ring-transparent focus:shadow-none focus:border-none focus:outline-offset-0 focus:ring-offset-0; */
		@apply focus:ring-offset-transparent focus:ring-1 focus:ring-opacity-50 focus:border-teal-500;
		/* @apply dark:focus:outline-red-800 focus:dark:border-green-900 dark:ring-offset-0; */
		@apply dark:bg-transparent dark:border-white dark:checked:bg-teal-500 dark:checked:border-teal-500;
	}

	select {
		@apply rounded dark:bg-slate-700 dark:border-slate-600 dark:text-gray-100 focus:border-teal-500 focus:ring-teal-500 focus:ring-2;
	}

	input[type="range"] {
		@apply appearance-none w-full p-0 bg-transparent focus:outline-none focus:ring-0 focus:shadow-none disabled:opacity-60;
	}
	
	input[type="range"]::-webkit-slider-runnable-track {
		@apply rounded-md h-2 bg-teal-900/20 dark:bg-slate-300/40;
	}
	input[type="range"]::-moz-range-track {
		@apply rounded-md h-2 bg-teal-900/20 dark:bg-slate-300/40;
	}
	input[type="range"]::-webkit-slider-thumb {
		@apply appearance-none -mt-[6px] h-5 w-5 rounded-full border-0 bg-teal-500 shadow shadow-black/10 transition-shadow cursor-pointer touch-none;
	}
	input[type="range"]::-moz-range-thumb {
		@apply appearance-none rounded-full h-5 w-5 border-0 bg-teal-500 shadow shadow-black/10 transition-shadow cursor-pointer touch-none;
	}
	input[type="range"]:focus::-webkit-slider-thumb {
		@apply shadow-black/30 shadow;
	}
	input[type="range"]:focus::-moz-range-thumb {
		@apply shadow-black/30 shadow;
	}
}

@layer components {
	.text-ellipsis {
		@apply overflow-ellipsis max-w-full overflow-hidden whitespace-nowrap;
	}

	.text-btn {
		@apply px-3 py-2 font-bold text-xs tracking-wide focus:outline-none active:ring active:ring-teal-600 active:ring-opacity-70 rounded disabled:opacity-30 text-gray-900/90 dark:text-gray-150/90 hover-hover:hover:text-gray-900/100 hover-hover:hover:dark:text-gray-150/100 disabled:text-gray-800 dark:disabled:text-gray-100;
	}

	.text-btn.danger {
		@apply text-red-700 active:ring-red-600;
	}

	.bleed-grid-2 {
	--basePadding: theme(padding.2);
	}
	.bleed-grid-4 {
		--basePadding: theme(padding.4);
	}
	.bleed-grid-6 {
		--basePadding: theme(padding.6);
	}
	.v-grid-bleed {
		grid-template-columns: 1fr min(calc(100vw - 2 * var(--basePadding, 1rem)), 44rem) 1fr;

	}
	.v-grid-bleed > * {
		grid-column: 2 / span 1;
	}
	.v-grid-bleed > .full-bleed {
		grid-column: 1 / -1;
	}
}

@layer utilities {
	.color-scheme-dark {
		color-scheme: dark;
	}
	.color-scheme-normal {
		color-scheme: normal;
	}
	.color-scheme-light {
		color-scheme: light;
	}
}


html, body, #app {
	/* height: 100%; */
	-webkit-tap-highlight-color: transparent;
}

body {
	@apply antialiased;
	@apply font-sans;
	@apply slashed-zero;
	@apply tabular-nums;
}

html {
	@apply color-scheme-normal;
}
html.light {
	@apply color-scheme-light;
}
html.dark {
	@apply color-scheme-dark;
}